@import '../base/base';

* {
  box-sizing: border-box;
}

// ---------------------
//  Page Structure
// ---------------------
.content-container {
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

// ---------------------
//  Base Styles
// ---------------------
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}
.list-inline {
  @extend .clearfix;
  
  > li {
    float: left;
  }
}

// ---------------------
//  Utils
// ---------------------
.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.text--center {
  text-align: center;
}

.text--super-light {
  font-weight: 100; 
}
.text--light {
  font-weight: 200;
}
.text--bold {
  font-weight: 700;
}
.text--super-bold {
  font-weight: 900;
}